@import url('https://fonts.bunny.net/css?family=Andika&display=swap'); 
@import url('https://fonts.bunny.net/css?family=Ubuntu+Mono&display=swap'); /* ' */

body {
  padding: 30px;
  max-width: 1000px;
  font-family: Andika, sans-serif;
  margin: 0 auto;
}

h1.title, p.author, p.date, h2.author, h2.date {
    text-align: center;
}
a { text-decoration: none ; }
pre {
    padding: 10px ;
    border-top: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC; 
    font-family: "Ubuntu Mono", monospace;
}
pre:has(code) {
    background: #efefef;
}
pre:has(code.tclcode) {
    background: cornsilk;   
}

pre:has(code.tclout) {    
    background: #CCEEFF;
}
pre:has(code.tclerr) {    
    background: #FFCCCC;
}
pre:has(code.error) {    
    background: #FFCCCC;
}

table {    
  border-collapse: collapse;
  border-bottom: 2px solid;
  border-spacing: 5px;
  min-width: 500px;
}
table thead tr th { 
  background-color: #fde9d9;
  text-align: left; 
  padding: 5px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}
table tr td { 
  background-color: #f6f6f6;
  text-align: left; 
  padding: 5px;
}

/* https://codepen.io/Harrix/pen/pZZZxg */

kbd {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: grey20;
  font-size: 100%;
  font-family: monospace, sans-serif;
  vertical-align: baseline;
  background: transparent;
  border-color: #e6e6e6 #bebebe #bebebe #e6e6e6;
  border-style: solid;
  border-width: 1px 3px 4px;
  padding: 0 5px;
  background-color: #d2d2d2;
  background-color: rgba(210, 210, 210, 0.9);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

kbd.menu {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: monospace, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}

u {
  text-decoration: none;
  font-weight: bold;
  border-bottom:1px solid black;
}
span.grey70 {
  background-color: #aaa;
  padding: 4px;
}
/* Alerts: */

.side-warning, .side-caution, .side-info, .side-question, .side-error, .side-note, .side-tip, .side-important, .side-hint  {
  color: var(--used-color);
  margin-bottom: 32px;
  margin-top: 16px;
  padding: 16px;
  padding-left: 48px;
  border-radius: 5px 0 0 5px;
  position: relative;  
}
.side-error, .side-caution {
  border-left: solid 7px #aa3322;
  border-top: solid 1px #fff0f0; 
  border-right: solid 1px #fff0f0; 
  border-bottom: solid 1px #fff0f0; 
  background-color: #fff0f0;
  
}

.side-important, .side-hint {
  border-left: solid 7px #aa33aa;
  border-top: solid 1px #fff0ff; 
  border-right: solid 1px #fff0ff; 
  border-bottom: solid 1px #fff0ff; 
  background-color: #fff0ff;
}

.side-note, .side-tip {
  border-left: solid 7px #223399;
  border-top: solid 1px #f0f7ff; 
  border-right: solid 1px #f0f7ff; 
  border-bottom: solid 1px #f0f7ff; 
  background-color: #f0f7ff;
  
}

.side-info {
  border-left: solid 7px #339922;
  border-top: solid 1px #f7fff0; 
  border-right: solid 1px #f7fff0; 
  border-bottom: solid 1px #f7fff0; 
  background-color: #f7fff0;
  
}
.side-question {
  border-left: solid 7px #999922;
  border-top: solid 1px #fffff0; 
  border-right: solid 1px #fffff0; 
  border-bottom: solid 1px #fffff0; 
  background-color: #fffff0;
}
.side-warning {
  border-left: solid 7px #ff9933;
  border-top: solid 1px #fff7f0; 
  border-right: solid 1px #fff7f0; 
  border-bottom: solid 1px #fff7f0; 
  background-color: #fff7f0;
}

.side-info::before, .side-warning::before, .side-caution::before, .side-question::before, .side-error::before, .side-note::before, .side-tip::before, .side-important::before, .side-hint::before  {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  justify-content: center;
  left: 12px;
  line-height: 1;
  position: absolute;
  top: 15px;
  width: 24px;
}

.side-note::before, .side-tip::before {
  background-color: #223399;
  color: #fff;
  content: "N";
  
}

.side-hint::before {
  background-color: #992299;
  color: #fff;
  content: "!";
  
}

.side-important::before {
  background-color: #993399;
  color: #fff;
  content: "!";
}

.side-tip::before {
  background-color: #223399; 
  content: "\261B";
  font-size: 110%;
  
}

.side-info::before {
  background-color: #339922;
  color: #fff;
  content: "i";
  
}
.side-error::before {
  background-color: #fff0f0;
  color: #fff;
  content: "\26D4";
  font-size: 120%;
}
.side-caution::before {
  background-color: #aa3322;
  color: #fff;
  content: "!";
}

.side-question::before {
  background-color: #999922;
  color: #fff;
  content: "?";
  
}

.side-warning::before {
  background-color: #dd6622;
  color: #fff;
  content: "!";
  
}
/* fix for AsciiDoc tables with paragraphs */
p.tableblock { padding: 0px; margin: 0px;}
