
body {
    padding: 30px;
    max-width: 1200px;
    font: Alegreya, Georgia, serif;
}

h1.title, p.author, p.date, h2.author, h2.date {
    text-align: center;
}
a { text-decoration: none ; }
pre {
    padding: 10px ;
    border-top: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC; 
    font: Monaco, monospace;
}
pre:has(code) {
    background: #efefef;
}
pre:has(code.tclcode) {
    background: cornsilk;   
}

pre:has(code.tclout) {    
    background: #CCEEFF;
}
pre:has(code.tclerr) {    
    background: #FFCCCC;
}
